logging:
  level:
    org.camunda.community.rest.client.api: DEBUG

feign:
  client:
    config:
      default:
        url: ""

camundaplatformrest.security.basicAuth:
    username: ""
    password: ""

toolkit:
    actions:
        - actionType: ""
          args:
            parameterKey: parameterValue
