logging:
  level:
#    org.camunda.community.rest.client.api: DEBUG

feign.client.config.default.url: ""

camundaplatformrest.security.basicAuth:
    username: ""
    password: ""

toolkit:
    engines:
#        - name: "Example engine"
#          url: "http://dummy.url/camunda/rest"
#          username: "username"
#          password: "password"
